body{
    min-width: 1300px;
    margin: 0 auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header{
    display: flex;
    justify-content: space-between;
}
.logo img{
    width: 100px;
}
.logo p{
    margin-top: -20px;
    color: orangered;
    font-weight: 550;
}
.electric button{
    border: none;
    background-color: orangered;
    color: white;
    font-size: small;
    border-radius: 11px;
    padding: 11px;
    font-weight: 550;
}
.electric .book{
    border: 1px solid orangered;
    color: orangered;
    background-color: white;
    font-size: small;
    border-radius: 11px;   
    padding: 11px;
    font-weight: 550;
}
.electric{
    margin-top: 50px;
}
.things{
    background-color: orangered;
    color: white;
    font-weight: 550;
    display: flex;
    justify-content: space-around;
    height: 50px;
}
.list ul{
    display: flex;
    list-style: none;
    gap: 50px;
}
.list ul a{
    text-decoration: none;
    color: white;
}
.searchbox{
    display: flex;
}
.search input{
    width: 250px;
    height: 40px;
    border-radius: 11px;
    border: 1px solid gray;
}
.search input::placeholder{
    padding-left: 45px;
    font-weight: 550;
}
.viewbtn a button{
    cursor: pointer;
}
.counter button{
    cursor: pointer;
}
.dam p{
    font-weight: 550;
    font-size: small;
}
.ratio p{
    text-decoration: underline;
}
.design a{
    text-decoration: none;
    color: white;
}
.thermal label{
    font-weight: 550;
}
.identity label{
    font-weight: 550;
}
.middle label{
    font-weight: 550;
}
.exit label{
    font-weight: 550;
}
.solve:hover{
    background-color: rgb(2, 160, 223);
}
.luck a{
    text-decoration: none;
    color: black;
}
.bulb:hover{
    background-color: lightgray;
}
.backbtn button{
    cursor: pointer;
}
.logbtn button{
    cursor: pointer;
}
.sub button{
    cursor: pointer;
}
.luckone a{
     text-decoration: none;
    color: black;
}
.search{
    margin-top: 5px;
}
.multi button{
    cursor: pointer;
}
.list ul a img{
    cursor: pointer;
}
.tags ul a{
       text-decoration: none;
    color: white;
}
.one li{
    cursor: pointer;
}
.bold img{
    cursor: pointer;
}
.force a button{
    cursor: pointer;
}
.paybtn button{
    cursor: pointer;
}
.dates img{
    cursor: pointer;
}
.searchicon{
    position: relative;
    right: 245px;
    top: 15px;
}
.one p{
    color: orangered;
    font-weight: 550;
    background-color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    position: relative;
    top: -45px;
    left: 28px;
}
.team img{
    width: 100%;
}
.team{
    margin-top: 110px;
}
.wire{
    background-color: #2f6fbf;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 11px;
    color: white;
    
}
.wire img{
    width: 350px;
    border-radius: 11px;
    height: 300px;
    flex-shrink: 0;
}
.wire p{
    font-weight: 550;
}
.wireless{
    display: flex;
    gap: 20px;
    
    animation: scroll 5s linear infinite;
}
.wireless::-webkit-scrollbar{
    display: none;
}
.viewbtn button{
    background-color: orangered;
    color: white;
    font-size: large;
    font-weight: 550;
    border-radius: 11px;
    border: none;
    padding: 11px;
}
.viewbtn{
    margin-top: 25px;
    text-align: center;
}
.resist{
    display: flex;
}
.saint img{
    width: 300px;
}
.cable{
    display: flex;
}
.fifty{
    display: flex;
    gap: 10px;
}
.fifty img{
    border: 2px solid gray;
}
.box{
    background-color: white;
    color: black;
    width: 210px;
    padding: 7px;
}
.after{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.read{
    background-color: #2f6fbf;
}
.assign{
    display: flex;
    justify-content: space-around;
}
.consult{
    width: 300px;
    border: 5px solid orangered;
    text-align: center;
}
.fifty p{
    font-weight: 550;
}
.power{
    width: 250px;
    background-color: white;
    border-radius: 11px;
    text-align: center;
    border: 2px solid gray;
}
.saying{
    background-color: #2f6fbf;
}
.sayingone{
    background-color:white;
}
.short{
    display: flex;
    justify-content: space-around;
    padding: 11px;
}
.dam{
    display: flex;
    text-align: left;
}
.dam img{
    width: 40px;
    height: 40px;
}

.serve img{
    width: 150px;
}
.work{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.offer{
    display: flex;
    justify-content: space-around;
    background-color: orangered;
    color: white;
    font-size: large;
    font-weight: 550;
}
.call button{
    padding: 11px;
    border-radius: 11px;
    background-color: white;
    color: black;
    border: none;
    font-size: large;
    font-weight: 550;
}
.call{
    margin-top: 10px;
}
.our{
    padding-left: 500px;
}
.pair{
    width: 500px;
    background-color: lightgray;
    border-radius: 11px;
    padding: 7px;
    margin-bottom: 10px;
}
footer{
    display: flex;
    justify-content: space-around;
    background-color: orangered;
    color: white;
    font-weight: 550;
}
.volt{
    margin-top: -20px;
}
.light{
    display: flex;
}
.light ul{
    list-style: none;
}
.vary{
    display: flex;
    justify-content: space-around;
    background-color: #2f6fbf;
    color: white;
    font-weight: 550;
    text-align: center;
}
.space img{
    width: 150px;
    border-radius: 50%;
}
.solve{
    display: flex;
}
.design{
    background-color: #2f6fbf;
    color: white;
    display: inline-block;
    border-radius: 11px;
}
.solve img{
    width: 20px;
    height: 20px;
    margin-top: 50px;
}
.solve{
    line-height: 0.8;
}
.fun img{
    width: 250px;
    height: 200px;
    border-radius: 11px;
}
.exit label{
    color: black;
}
.sendbtn button{
    width: 400px;
    padding: 5px;
    border: none;
    background-color: orangered;
    color: white;
    font-size: large;
    font-weight: 550;
    border-radius: 7px;
}
.touch img{
    width: 20px;
    height: 20px;
    background-color: wheat;
    border-radius: 50%;
    padding: 7px;
    margin-top: 20px;
}
.touch{
    display: flex;
     background-color: white;
     gap: 20px;
     padding: 5px;
     margin-bottom: 20px;
     border-radius: 11px;
}
.usual{
   
    color: black;
    width: 350px;
}
.home{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    padding: 11px;
}
.homeone{
    display: flex;
    gap: 250px;
    padding-left: 130px;
    margin-bottom: 50px;
}
.free{
    display: flex;
    background-color: orangered;
    color: white;
    font-weight: 550;
    margin-bottom: 50px;
    justify-content: space-around;
    padding: 11px;
}
.middle input{
    border-radius: 7px;
    border: 1px solid gray;
    padding: 7px;
}
.form{
    background-color: white;
    color: white;
    padding: 5px;
    border-radius: 10px;
}
.middle label{
    color: black;
}
.exit input{
    border-radius: 7px;
    border:  1px solid gray;
    padding: 7px;
    width: 380px;
}
.middle{
    display: flex;
    gap: 50px;
}
.car img{
    width: 100%;
    height: 500px;
}
.emerge{
    display: flex;
    gap: 100px;
}
.emerge button{
    background-color: orangered;
    color: white;
    font-weight: 550;
    border-radius: 7px;
    font-size: large;
    border: none;
    height: 50px;
    margin-top: 35px;
}
.back{
    display: flex;
    justify-content: space-around;
}
.ready input{
    width: 350px;
    padding: 7px;
    border: none;
}
.deep{
    background-color: #2f6fbf;
    padding: 11px;
    border-radius: 11px;
    color: white;
}
.forbtn button{
    padding: 5px;
    background-color: orangered;
    color: white;
    font-size: large;
    font-weight: 550;
    border: none;
    border-radius: 7px;
}
.forbtn{
    text-align: center;
}
.safe{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.test{
    border: 2px solid orangered;
    border-radius: 11px;
    padding: 11px;
    width: 150px;
    text-align: center;
}
.emerge img{
    width: 150px;
}
.quick{
    display: flex;
    justify-content: center;
    background-color: #2f6fbf;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
}
.workman{
    text-align: center;
}
.peace img{
    width: 450px;
    height: 350px;
}
.smoke{
    display: flex;
    justify-content: space-around;
}
.smoke button{
    padding: 11px;
    border: none;
    background-color: orangered;
    border-radius: 11px;
    color: white;
    font-size: large;
}
.license{
    display: flex;
    justify-content: space-around;
    background-color: orangered;
    margin-bottom: 50px;
    color: white;
    padding: 11px;
    font-size: large;
    font-weight: 550;
    text-align: center;
}
.license button{
    width: 250px;
    background-color: white;
    color: black;
    font-size: large;
    font-weight: 550;
    border: none;
    padding: 7px;
    border-radius: 7px;
}
.cat{
    width: 500px;
}
.signs{
    background-color: #2f6fbf;
    color: white;
    width: 650px;
    font-size: small;
    padding: 11px;
    margin-bottom: 11px;
}
.promote{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.promote img{
    width: 450px;
    height: 300px;
    margin-top: 50px;
}
.trust{
    padding-left: 250px;
}
.lot{
    padding-left: 400px;
}
.today{
    background-color: #2f6fbf;
    color: white;
    margin-top: -1px;
    padding: 11px;
    line-height: 0.5;
}
.alter img{
    width: 480px;
    height: 280px;
}
.alter{
    margin-top: 10px;
}
.out img{
    border: 4px solid gray;
    width: 20px;
}
.support{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    gap: 100px;
}
.care{
    display: flex;
    gap: 50px;
    margin-top: 10px;
}
.out{
    text-align: center;
    border: 2px solid gray;
    width: 200px;
    padding: 7px;
}
.formone{
    background-color: white;
    color: white;
    padding: 25px;
    border-radius: 10px;
    margin-top: 15px;
    border: 2px solid gray;
}
.formone button{
    padding: 25px;
}
.clear{
    display: flex;
    justify-content: space-around;
}
.clear button{
    width: 300px;
    height: 50px;
    background-color: lightgray;
    border: none;
    font-size: medium;
    font-weight: 550;
    margin-bottom: 20px;
}
.verify{
    display: flex;
    justify-content: center;
}
.verify input{
    padding: 11px;
    border-radius: 7px;
    border: 1px solid gray;
    width: 300px;
}
.verify button{
    padding: 11px;
    background-color: orangered;
    color: white;
    font-weight: 550;
    border: none;
    border-radius: 7px;
}
.logbtn{
    margin-top: 85px;
    padding-left: 50px;
}
.address{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.address input{
    padding: 11px;
    width: 200px;
    border-radius: 7px;
    border: 1px solid gray;
}
.sub{
    padding-left: 450px;
}
.sub button{
    padding: 7px;
    border: none;
    background-color: orangered;
    color: white;
    font-weight: 550;border-radius: 7px;

}
.multi button{
    padding: 7px;
    border: none;
    background-color: orangered;
    color: white;
    font-weight: 550;
    border-radius: 7px;
}
.multi{
    padding-right: 450px;
}
.lantern{
    background-color: orangered;
    color: white;
    text-align: center;
}
.bulb{
    display: flex;
    gap: 150px;
    border: 1px solid gray;
    width:550px;
    border-radius: 7px;
    padding: 7px;
}
.luck{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.luckone{
    padding-left: 95px;
    margin-bottom: 50px;
}
.ratio{
    display: flex;
}
.socket button{
    padding: 7px;
    width: 100px;
    border: none;
    background-color: orangered;
    color: white;
    font-weight: 550;
    border-radius: 7px;
}
.sort{
    margin-top: -7px;
    padding-left: 15px;
}
.tube{
    line-height: 0.2;
}
.post{
    display: flex;
    justify-content: space-around;
    border: 1px solid gray;
    width: 1100px;
    border-radius: 11px;
    align-items: center;
}
.update{
    padding-left: 220px;
}
.post button{
    width: 150px;
    padding: 7px;
    background-color: orangered;
    color: white;
    font-weight: 550;
    border: none;
    border-radius: 7px;
}
.proud{
    display: flex;
    background-color: #2f6fbf;
    color: white;
    width: 450px;
    padding: 11px;
}
.proud img{
    width: 150px;
}
.once{
    background-color: #2f6fbf;
    color: white;
    width: 450px;
    padding: 11px;
    line-height: 0.2;
}
.install{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}
.starimg{
    text-align: left;
}
.holder{
    display: flex;
    gap: 50px;
}
.visit{
    display: flex;
    justify-content: space-around;
    font-size: medium;
    font-weight: 550;
}
.shirt{
    width: 400px;
    background-color: orangered;
    color: white;
    padding: 11px;
    margin-top: 10px;
    margin-bottom: 50px;
    border-radius: 11px;
}
.thermal{
    display: flex;
    gap: 50px;
}
.thermal input{
    padding: 7px;
    border-radius: 7px;
    border: 1px solid gray;
}
.cash{
    width: 470px;
}
.mean button{
    width: 400px;
    border-radius: 11px;
    border: 1px solid gray;
    padding: 7px;
    font-size: large;
}
.identity input{
    width: 400px;
    padding: 7px;
    border-radius: 7px;
      border: 1px solid gray;
}
.give{
    border: 2px solid gray;
    padding: 25px;
    border-radius: 7px;
}
.top{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    margin-top: 50px;
}
.mean button img{
    width: 30px;
    margin-top: 20px;
}
.paybtn button{
    width: 150px;
    padding: 11px;
    background-color: orangered;
    color: white;
    font-size: large;
    font-weight: 550;
    border-radius: 7px;
    border: none;
}
.paybtn{
    padding-left: 140px;
}
.dates{
    text-align: left;
}
.tags{
    display: flex;
    justify-content: space-around;
    background-color: orangered;
    color: white;
    font-weight: 550;
    position: absolute;
    width: 100%;
    display: none;
}
.tags ul{
    list-style: none;
}
.audio{
    text-decoration: underline;
    display: flex;
    gap: 50px;
justify-content: center;
}
.app{
    text-align: center;
    border: 2px solid gray;
    width: 280px;
    border-radius: 11px;
    background-color: white;
    padding: 7px;
    line-height: 0.8;
}
.look{
    position: absolute;
    left: 600px;
    top: 350px;
    display: none;
}
.quantity{
    text-align: center;
    border: 2px solid gray;
    width: 350px;
    padding: 7px;
    border-radius: 11px;
    position: absolute;
    background-color: white;
    left: 550px;
    top: 450px;
    display: none;
}
.protect{
    border: 1px solid gray;
    border-radius: 11px;
    width: 200px;
    padding: 5px;
}
.boat{
    border: none;
    padding: 11px;
    background-color: orangered;
    color: white;
    width: 100%;
    font-weight: 550;
    border-radius: 11px;
}
.backbtn{
    display: flex;
    justify-content: space-around;
}
.together{
    padding-left: 25px;
}
.backbtn button{
    background-color: orangered;
    color: white;
    border: none;
    padding: 11px;
    border-radius: 8px;
    font-weight: 550;
}
.bold{
    display: flex;
    justify-content: space-between;
    line-height: 0.2;
}
.bold img{
    width: 40px;
    height: 40px;
    margin-top: 7px;
}
.force{
    width: 280px;
    border: 2px solid white;
    border-radius: 11px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    padding: 7px;
    line-height: 0.5;
    position: absolute;
    background-color: white;
    right: 0;
    display: none;
}
.speedy{
    display: flex;
    justify-content: space-around;
}
.speedy img{
    width: 40px;
    height: 40px;
    margin-top: 11px;
}
.document{
    line-height: 0.8;
    border: 1px solid gray;
    border-radius: 11px;
    margin-bottom: 4px;
}
.datepicker {
  width: 320px;
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  position: absolute;
  top: 415px;
  left: 570px;
  display: none;
}
.even{
    display: flex;
    gap: 40px;
}
.counter{
    margin-top: 11px;
}
.counter button{
    font-weight: 550;
}
/* ===== TOP HEADER ===== */
.header {
  background: #0b5ed7;
  color: white;
  padding: 12px;
}

.header .year {
  font-size: 14px;
  opacity: 0.9;
}

.header .date {
  font-size: 20px;
  font-weight: bold;
}

/* ===== MONTH NAV ===== */
.month-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #0b5ed7;
  font-weight: bold;
}

.month-nav button {
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
  color: #0b5ed7;
}

/* ===== DAYS ===== */
.weekdays, .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.weekdays {
  font-size: 13px;
  color: #666;
}

.days span {
  padding: 10px 0;
  cursor: pointer;
  border-radius: 50%;
}

.days span:hover {
  background: #e7f1ff;
}

.days span.active {
  background: #0b5ed7;
  color: white;
}

/* ===== FOOTER ===== */
.footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  gap: 15px;
}

.footer button {
  border: none;
  background: none;
  color: #0b5ed7;
  font-weight: bold;
  cursor: pointer;
}
@keyframes scroll{
    0%{
        transform: translateX(0)
    }
    100%{
        transform: translateX(-50%);
    }
}